
<footer>
    <div class="footer-content">
        <div class="left-content">
            <img class="logo" src="./../../../../assets/img/5_section_footer/PNG/sakura_ramen_logo_and_text.png" alt="Sakura Ramen Logo">
            <a [routerLink]="['/imprint']">IMPRESSUM</a>
        </div>
        <div class="social-icons">
            <a href="#"><img src="./../../../../assets/img/5_section_footer/SVG/tripadvisor_logo.svg" alt="Email"></a>
            <a href="#"><img src="./../../../../assets/img/5_section_footer/SVG/instagram_logo.svg" alt="Instagram"></a>
            <a href="#"><img src="./../../../../assets/img/5_section_footer/SVG/facebook_logo.svg" alt="Facebook"></a>
        </div>
    </div>
</footer>
