
<app-navbar></app-navbar>

<div class="imprint-container">
    <h1 class="fontRaleway">Impressum</h1>
    
    <section>
        <h2 class="fontRaleway">Angaben gemäß § 5 TMG</h2>
        <p class="fontRaleway">
            Sakura Ramen GmbH<br>
            Kapuzinerstraße 31<br>
            80337 München
        </p>
    </section>

    <section>
        <h2 class="fontRaleway">Kontakt</h2>
        <p class="fontRaleway">
            Name: Marzieh Ghasedian
            Telefon: 0176 54564534<br>
            E-Mail: marzighased@sakura-ramen.de
        </p>
    </section>

    <section>
        <h2 class="fontRaleway">Registereintrag</h2>
        <p class="fontRaleway">
            Eintragung im Handelsregister<br>
            Registergericht: Amtsgericht München<br>
            Registernummer: HRB 000 000
        </p>
    </section>

    <div class="back-button">
        <a routerLink="/" class="fontRaleway">Back to Home</a>
    </div>
</div>

<app-footer></app-footer>