/* navbar.component.scss */
nav {
    width: 100%;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
    > img {
        width: 64px;
        height: 64px;
    }
    
    > div {
        display: flex;
        align-items: center;
        gap: 56px;
        
        a {
            text-decoration: none;
            color: white;
            font-family: 'Raleway';
            font-size: 24px;
            transition: color 0.3s ease;
            
            &:hover {
                color: #9F0908;
            }
        }
    }
}

.phone-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #9F0908;
    padding: 8px 16px;
    border-radius: 4px;
    
    img {
        width: 40px;
        height: 40px;
    }
    
    a {
        &:hover {
            color: white !important;
        }
    }
}