
<section>
    <h2>HOW TO ORDER</h2>
    <div class="steps-container">
        <div class="step">
            <img src="./../../../assets/img/2_section_how_to_order/PNG/noodle.png" alt="Pick noodle">
            <h3>Pick your<br>noodle</h3>
        </div>
        <div class="step">
            <img src="./../../../assets/img/2_section_how_to_order/PNG/broth.png" alt="Pick broth">
            <h3>Pick your<br>broth</h3>
        </div>
        <div class="step">
            <img src="./../../../assets/img/2_section_how_to_order/PNG/egg.png" alt="Add toppings">
            <h3>Add your<br>toppings</h3>
        </div>
    </div>
</section>
